# Python
__pycache__/
*.pyc
.env
venv/
*.egg-info/
*.db

# Migrations (opcional, alguns times sobem)
# migrations/versions/

# Node
node_modules/
dist/

# Sistema
.DS_Store
*.log
.idea/

.claude
.vite
.venv