<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Esqueci minha senha</title>

  <script src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>

  <script>
    emailjs.init("XadOERpbRkiSIy1-_");
  </script>
</head>
<body>

<h1>Recuperar senha</h1>

<form id="forgotForm">
  <input type="email" id="email" placeholder="Digite seu email" required>
  <button type="submit">Enviar recuperação</button>
</form>

<pre id="response"></pre>

<script>
document.getElementById('forgotForm').addEventListener('submit', async (e) => {
    e.preventDefault();

    const email = document.getElementById('email').value;

    const response = await fetch(
        'http://127.0.0.1:5000/auth/forgot-password',
        {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ email })
        }
    );

    const result = await response.json();

    await emailjs.send(
        'service_mr9gkdu',
        'template_zzte7bw',
        {
            email: email,
            reset_link: result.reset_link
        }
    );

    document.getElementById('response').innerText =
        "Email enviado com sucesso!";
});
</script>

</body>
</html>