<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Redefinir senha</title>
</head>
<body>

<h1>Nova senha</h1>

<form id="resetForm">
  <input type="password" id="password" placeholder="Nova senha" required>
  <button type="submit">Alterar senha</button>
</form>

<pre id="response"></pre>

<script>
const token = "{{ token }}";

document.getElementById('resetForm').addEventListener('submit', async (e) => {
    e.preventDefault();

    const password = document.getElementById('password').value;

    const response = await fetch(
        `http://127.0.0.1:5000/auth/reset-password/${token}`,
        {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                password: password
            })
        }
    );

    const result = await response.json();

    document.getElementById('response').innerText =
        JSON.stringify(result, null, 2);
});
</script>

</body>
</html>